html {
  background-color: black;
}

body {
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: gray;
}
::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: rgb(109, 109, 109);
}

a:hover {
  text-decoration: none;
}

a:hover .poster_info {
  opacity: 0.9;
  z-index: 1;
}

a:hover .poster_info .card-title,
.card-text {
  color: white;
  opacity: 1;
  z-index: 1;
}

.index_content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 55vh;
}

.index_content .carousel-item img {
  margin: 0;
  object-fit: scale-down;
  height: 100%;
}

.index_carousel_btn{
	background-color: rgb(255 255 255 / 30%);
	padding: 10px 30px;
}

.index_carousel_btn p{
	margin: 0;
}


.index_carousel_btn:hover{
	background-color: rgb(0 0 0 / 74%);
}

.index_content .card{
	height: 100%;
}

.index_content .card img{
	height: 100%;
    object-fit: cover;
}

.movie_list{
	margin-bottom: 20px;
}

.index_content01 {
  position: fixed;
  top: 0;
  margin-top: 65px;
  height: 55vh;
  width: 100vw;
  transition: all 0.2s ease-out 0.2s;
}

.index_content02,
.index_content03,
.index_content04 {
  margin: 30px 0;
  justify-content: center;
}

.index_content01 .carousel_wrapper {
  height: 100%;
  padding: 0;
}

.index_content01 .carousel-inner {
  height: 95%;
}

.index_content01 .carousel-inner div {
  height: 100%;
}

.index_content01 .carousel-item img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}

.index_content01 .carousel-item .card {
  background-color: transparent;
  align-items: center;
  justify-content: center;
}

.index_content01 .carousel-item .carousel-caption{
	height: auto;
}

.index_movielist .card {
  width: 240px;
  height: 292px;
  border: none;
}

.index_carousel .carousel-item-next.active {
  flex-direction: row;
  display: flex;
}

.morewrapper {
	margin-top: 50px;
}

.moreanchor {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(119 119 119);
  padding: 8px;
  border-radius: 22px;
  width: 30%;
  margin: 15px 0;
  color: rgb(109, 109, 109);
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.moreanchor:hover {
    color: rgb(255 255 255 / 81%);
    background: rgb(103 103 103 / 69%);
}

.index_category {
  font-size: 25px;
  margin: 30px 20px;
  font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, "NotoSansKR",
    sans-serif;
  letter-spacing: -0.025em;
  font-weight: bold;
  color: rgb(255 255 255 / 81%);
}

.index_content .poster_info {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 25, 28, 0.95);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0.3s;
  transition: all 0.2s ease-out 0.3s;
  overflow: hidden;
}
