a {
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  outline: 0;
  text-decoration: none;
  color: rgb(109, 109, 109);
}

a:hover {
  text-decoration: none;
}

a:hover .poster_info {
  opacity: 0.9;
  z-index: 1;
}

a:hover .poster_info .card-title,
.card-text {
  color: white;
  opacity: 1;
  z-index: 1;
}

.index_content {
  display: flex;
  flex-direction: column;
  z-index: 1;
  margin-top: 50vh;
}

.index_content .carousel-item img {
  margin: 0;
  object-fit: scale-down;
  height: 100%;
}

.index_content02 {
  margin: 30px 0;
  justify-content: center;
}

.index_category {
  font-size: 20px;
  margin: 30px 20px;
  font-family: "SF Pro Text", "Helvetica Neue", "Segoe UI", Arial, "NotoSansKR",
    sans-serif;
  letter-spacing: -0.025em;
  font-weight: bold;
}

.index_content .poster_info {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 25, 28, 0.95);
  opacity: 0;
  -webkit-transition: all 0.2s ease-out 0.3s;
  transition: all 0.2s ease-out 0.3s;
  overflow: hidden;
}
